@import url(../styles/main.css);

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 1rem;
  resize: vertical;
}

input[type="submit"] {
  background-color: var(--accent-color);
  color: #fafafa;
  border: none;
  padding: 10px 32px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 1.8em;
}
.submit:hover {
  background-color: #5234ae;
  transition: all 0.4s ease;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
}
