@import url(../styles/main.css);
#blog {
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  padding-bottom: 10px;
}

.blog-section {
  height: 100vh;
  background-color: #fff;
}
.blog-section h1 {
  font-size: 3.2rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}
